@use '../helpers' as *;


.controls {
    display: flex;
    column-gap: rem(12);
    padding-block: rem(18);
    justify-content: center;
    align-items: center;
    border-block: rem(1) solid #E5E5E5;

    @include laptop {
        flex-direction: column;
        row-gap: rem(8);
        align-items: start;
    }

    &__start {
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: rem(8);
        }
    }

    &__button {

        @include mobile-s {
        min-width: rem(250);
        }
    }
}