@use '../helpers' as *; 


.contact {
    padding-top: rem(80);

    @include mobile {
        padding-top: rem(48);
    }

    &__header {
        display: grid;
        justify-content: center;
        grid-template-columns: 25% 75%;
        column-gap: rem(24);
        padding-bottom: rem(80);

        @include laptop {
            grid-template-columns: 25% 65%;
        }

        @include tablet {
            grid-template-columns: 1fr;
            gap: 1rem;
        }

        @include mobile {
            padding-bottom: rem(48);
        }
    }

    &__body,
    &__aside {
        background-color: var(--color-light);
        border-radius: rem(8);
        box-shadow: 0px 0px 56px 0px rgba(0, 38, 3, 0.08);
    }

    &__list {
        padding-inline: rem(20);
        display: flex;
        flex-direction: column;

        @include tablet {
            display: grid;
            grid-template-columns: repeat(3 ,1fr);
            column-gap: rem(8);
            justify-content: center;
            align-items: center;
        }

        @include mobile {
            display: flex;
        }
    }

    &__item {
        padding-block: rem(24);
        max-width: rem(272);

       

        @include tablet-above {
        max-width: rem(312);
         &:not(:last-child) {
        border-bottom: rem(1) solid #E6E6E6;
        border-radius: rem(4);
        }
        }

        @include mobile {
         min-width: 100%;
         &:not(:last-child) {
        border-bottom: rem(1) solid #E6E6E6;
        border-radius: rem(4);
        }
    }
}

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        color: var(--color-primary);
    }

    &__address,
    &__link {
        color: var(--color-gray-800);
        font-weight: 400;
        font-size: rem(16);
    }

    &__info {
        padding-top: rem(44);
        padding-inline: rem(50);
        @include laptop {
            padding-inline: rem(25);
            padding-top: rem(22);
        }
    }

    &__subtitle {
        padding-top: rem(8);
        padding-bottom: rem(24);
        color: var(--color-gray-500);
        font-weight: 400;
        font-size: rem(14);

    }

    &__extra {
        background-color: #F7F7F7;
    }

    &__map {
        border: none;
        @include mobile {
            height: 300px;
        }
    }
}