@use '../helpers' as *;


.feedback {

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        column-gap: rem(24);
        row-gap: rem(24);

        @include laptop {
            flex-direction: column;
            max-height: 36rem ;
        }

        @include tablet {
            min-height: 39rem;
        }

        @include mobile {
            min-height: 43rem;
        }

        @include mobile-s {
            min-height: 46rem;
        }
    }

    &__item {
        background-color: var(--color-light);
        border-radius: rem(8);
        padding-inline: rem(24);
        padding-bottom: rem(24);
        padding-top: rem(40);
        min-width: rem(420);
        position: relative;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.01);
        transition: var(--transition-duration);
        opacity: 0;  
        visibility: hidden;
        position: absolute;
        pointer-events: none;

        @include laptop {
            padding-bottom: rem(8);
        }


        &.is-active {
            opacity: 1;
             visibility: visible;
             position: relative;
            pointer-events: auto;
        }



        @include mobile-s {
            min-width: rem(200);
        }

        &::before {
            @include abs-y;
            content: "";
            top: rem(24);
            left: rem(24);
            width: rem(32);
            height: rem(26);
            background: url(../../icons/client-reviews/1.svg) center/contain no-repeat;
        }
    }


    &__card {

        &-info {
            padding-block: rem(16);
            color: var(--color-gray-700);
            font-weight: 400;
            line-height: 1.5;
        }

        &-description {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: rem(10);
        }
    }
}