@use '../helpers' as *;

.field {
        position: relative;

        &__errors {
        font-size: rem(14);
        display: flex;
        flex-direction: column;
        bottom: rem(-32);
        font-weight: 500;
        color: var(--color-red);
        line-height: 1.25;

    &:empty {
        display: none;
    }
    }

        &__control {
            border: rem(1) solid var(--color-gray-100);
            border-radius: rem(6);
            font-size: rem(16);
            font-weight: 400;
            line-height: 1.5;
            padding-block: rem(14);
            padding-left: rem(16);
            color: var(--color-dark);
            min-width: 100%;

            &:focus-visible {
                border: rem(2) solid var(--color-primary);
            }

            &:user-invalid {
            border: rem(2) solid var(--color-red);
        }

            &::placeholder {
                color: var(--color-gray-400);
            }
        }

        &__label {
            font-size: rem(14);
            font-weight: 400;
        }

        &__textarea {
            &:user-invalid {
                border: rem(2) solid var(--color-red);
            }
        }

        &__body {
            
    min-width: 100%;
        }
        &__reguired-star {
            color: var(--color-red);
            font-size: rem(16);
            padding-left: rem(4);
        }


        &__textarea {
            padding-top: rem(14);
            padding-left: rem(16);
            width: 100%;
            border: rem(1) solid var(--color-gray-100);
            border-radius: rem(6);
            resize: none;
            min-height: rem(100);
            font-size: rem(16);
            font-weight: 500;
            color: var(--color-dark);


            &::placeholder {
                color: var(--color-gray-400);
            }
        }

        &__login {
            &-control {
                position: relative;
            }

            &-eye {
                position: absolute;
                top: rem(15);
                translate: -50%;
                right: 0;
                cursor: pointer;
            }
        }

    &__header {
            &-control {
            border: var(--border);

            @include hover {
                &::placeholder {
                    @include show;
                }
                box-shadow: inset rem(1) rem(1) rem(1) rem(1) rgba(0, 0 ,0 ,0.2); 
            }

         
            &:focus-visible {
                border: rem(2) solid var(--color-primary);
                &::placeholder {
                    @include show;
                }
                box-shadow: inset rem(1) rem(1) rem(1) rem(1) rgba(0, 0 ,0 ,0.2);
            }

            &:user-invalid {
            border: rem(2) solid var(--color-red);
        }

            &::placeholder {
                color: var(--color-gray-500);
                font-weight: 400;
                line-height: 1.4;
                font-size: rem(15);
                @include hide;
                transition: var(--transition-duration);
            }

            &--header {
                border-radius: rem(6);
                padding-block: rem(13);
                padding-left: rem(30);
                min-width: rem(400);

                @include tablet {
                    min-width: 90dvw;
                }
            }
            }

            &-search-icon {
                @include abs-y;
                left: 2%;
            }

        &-button {
            color: var(--color-light);
            background-color: var(--color-primary);
            font-weight: 600;
            border: none;

            @include hover {
                background-color: var(--color-hard-primary);
            }
            
            &--header {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                padding: rem(14) rem(24);
                border-radius: 0px 6px 6px 0px;
            }
        }
    }

    &__subcribe {
        position: relative;

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1rem;
        }

        &-control {
            border: var(--border);
            padding: rem(14) rem(24);
            border-radius: rem(46);
            min-width: rem(492);
            font-size: rem(14);

            @include mobile {
                min-width: 90dvw;
            }

            
            &:focus-visible {
                border: rem(2) solid var(--color-primary);
            }

            &:user-invalid {
            border: rem(2) solid var(--color-red);
        }

            &::placeholder {
            color: var(--color-gray-500);
            font-weight: 400;
            line-height: 1.4;
            font-size: rem(16);
        }
        }

       
        &-errors {
            font-size: rem(14);
            display: flex;
            flex-direction: column;
            position: absolute;
            padding-top: rem(10);
            font-weight: 500;
            color: var(--color-red);
            line-height: 1.25;

        &:empty {
            display: none;
        }
        }

        &-button {
            border-radius: rem(46);
            color: var(--color-light);
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            border: none;
            line-height: 1.25;

            @include mobile {
                padding: rem(16) rem(40);
                position: relative;
            }
        }

    }



    &__coupon {

        position: relative;
         @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1rem;
        }

        &-control {
            
            border: var(--border);
            padding: rem(14) rem(24);
            border-radius: rem(46);
            min-width: rem(531);
            font-size: rem(14);

            @include tablet {
                min-width: rem(490);
            }

            @include mobile {
                min-width: 85dvw;
            }

            @include mobile-s {
                min-width: 75dvw;
            }

            
            &:focus-visible {
                border: rem(2) solid var(--color-primary);
            }

            &:user-invalid {
            border: rem(2) solid var(--color-red);
        }

            &::placeholder {
            color: var(--color-gray-500);
            font-weight: 400;
            line-height: 1.4;
            font-size: rem(16);
        }
        }

        &-button {
            border-radius: rem(46);
            color: var(--color-light);
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            border: none;
            line-height: 1.25;

            @include mobile {
                padding: rem(16) rem(40);
                position: relative;
            }
        }
    }

    &__contact {
        padding-inline: rem(50);
        padding-bottom: rem(50);
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: rem(16);

        @include laptop {
        padding-inline: rem(25);
        padding-bottom: rem(25);
        }

        @include mobile {
        padding-inline: rem(12);
        padding-bottom: rem(12);
        grid-template-columns: 1fr;
        gap: rem(8);
        }

        &-button {
            border: none;
        }
    }
}