@use '../helpers' as *;


.news {

    &__list {
        
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(24);

    
    @include laptop {
        grid-template-columns: repeat(2,1fr);
        column-gap: rem(12);
        row-gap: rem(24);
    }

    @include mobile {
        grid-template-columns: repeat(1 ,1fr);
    }

    }

    &__item {
        
        border: rem(1) solid #E6E6E6;
        border-radius: rem(10);
        transition: var(--transition-duration);

        @include hover {
            border-color:var(--color-primary) ;

            .news-card__title {
                color: var(--color-primary);
            }
        }
    }


    &-card {
        &__body {
            position: relative;
        }
        &__image {
            border-top-left-radius: rem(10);
            border-top-right-radius: rem(10);

            @include laptop {
                width: 100%;
            }
        }

        &__calendar {
            position: absolute;
            bottom: rem(24);
            left: rem(24);
            border-radius: rem(4);
            text-align: center;
            background-color: var(--color-light);

            padding-top: rem(6);
            padding-bottom: rem(10);
            padding-inline: rem(15);
        }

        &__extra {
            padding: rem(24);

            @include mobile-s {
                padding-inline: rem(5);
            }
        }
        &__title {
            font-weight: 500;
            transition: var(--transition-duration);
        }

        &__link {
            font-weight: 600;
        }
    }
}