@use '../helpers' as *;

.soc1als {

    &--blog {
        justify-self: end;

        @include mobile {
            justify-self: start;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: rem(8);

        &--light {
            color: var(--color-light);
        }

        &--dark {
            color: var(--color-dark);
            align-items: start;
        }
    }

    &__item {
        border-radius: 50%;
        transition: var(--transition-duration);

        @include hover {
            background-color: var(--color-primary);


            .soc1als__link {
                color: var(--color-light);
            }
        }
    }

    &__link {

        display: flex;
        align-items: center;
        justify-content: center;
     padding: rem(11);
    --size: #{rem(40)};
    @include square(var(--size));
    }
}